@tailwind base;
@tailwind components;
@tailwind utilities;




body{
    background-color: #FCFCFCEE ;
    overflow-x: hidden;
   
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background: #00F5FF;
  border-radius: 999px;
  border: 2px solid #ffffff;
}

::-webkit-scrollbar-thumb:hover {
  background: #00D9E6;
}

html {
  scrollbar-width: auto;
  scrollbar-color: #00F5FF #ffffff;
}